<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716478080440-m8sdg1218imf4l81g6usa1a7c3794aqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716478080440-m8sdg1218imf4l81g6usa1a7c3794aqd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>716478080440-t82vpbnobe5qumapdmoc1qd0ij9ghmgt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2wcFzd_NnqDevk4gTEy0I-CktPh7nfaI</string>
	<key>GCM_SENDER_ID</key>
	<string>716478080440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.macarbiRacing</string>
	<key>PROJECT_ID</key>
	<string>macarbidb</string>
	<key>STORAGE_BUCKET</key>
	<string>macarbidb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716478080440:ios:c9c8a02f1f198eddff9b4d</string>
	<key>DATABASE_URL</key>
	<string>https://macarbidb.firebaseio.com</string>
</dict>
</plist>